@model Data.AngleOk.Model.Models.RealtyObject

@{
	ViewData["Title"] = "Добавить новый объект";
}

<h2>Добавить новый объект</h2>

<form asp-action="Create" enctype="multipart/form-data">
	<div class="form-group">
		<label asp-for="CadastralNumber" class="control-label"></label>
		<input asp-for="CadastralNumber" class="form-control" />
		<span asp-validation-for="CadastralNumber" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Address" class="control-label"></label>
		<input asp-for="Address" class="form-control" />
		<span asp-validation-for="Address" class="text-danger"></span>
	</div>
	
	<div class="form-group">
		<label asp-for="RealtyObjectKindId" class="control-label">Тип объекта недвижимости</label>
		<select asp-for="RealtyObjectKindId" class="form-control" asp-items="ViewBag.RealtyObjectKindId"></select>
		<span asp-validation-for="RealtyObjectKindId" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="Description" class="control-label"></label>
		<textarea asp-for="Description" class="form-control"></textarea>
		<span asp-validation-for="Description" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Latitude" class="control-label"></label>
		<input asp-for="Latitude" class="form-control" />
		<span asp-validation-for="Latitude" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Longitude" class="control-label"></label>
		<input asp-for="Longitude" class="form-control" />
		<span asp-validation-for="Longitude" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label for="MediaFiles" class="control-label">Фото</label>
		<input type="file" name="MediaFiles" class="form-control" multiple />
		<small class="form-text text-muted">Можно выбрать для загрузки несколько файлов</small>
	</div>
	<div class="form-group">
		<input type="submit" value="Создать" class="btn btn-primary" />
		<a asp-action="Index" class="btn btn-secondary">Отмена</a>
	</div>
</form>