@model Data.AngleOk.Model.Models.Advertisement

@{
	ViewData["Title"] = "Удаление объявления";
}

<h2>Удаление объявления</h2>

<h3>Вы действительно хотите удалить это объявление?</h3>
<div>
	<h4>Объявление</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">Тип</dt>
		<dd class="col-sm-10">@Model.DealType?.DealTypeName</dd>
		<dt class="col-sm-2">Объект</dt>
		<dd class="col-sm-10">@Model.RealtyObject?.RealtyObjectKind.RealtyObjectKindName</dd>
		<dt class="col-sm-2">Адрес</dt>
		<dd class="col-sm-10">@Model.RealtyObject?.Address</dd>
		<dt class="col-sm-2">Краткое описание</dt>
		<dd class="col-sm-10">@Model.ShortDescription</dd>
	</dl>
</div>

<form asp-action="DeleteConfirmed">
	<input type="hidden" asp-for="Id" />
	<input type="submit" value="Удалить" class="btn btn-danger" /> |
	<a asp-action="Index">Назад</a>
</form>