@using AngleOk.Web.Services
<!-- Header -->
<div id="header-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <header id="header">
                    @* <h3><p id="logo">Управление</p></h3> *@
                    @* <h1><a href="/" id="logo">@Config.CompanyShortName</a></h1> *@
                    <nav id="nav">
                        <a asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                        <a asp-area="" asp-controller="Advertisements" asp-action="Index">Объявления</a>
                        <a asp-area="" asp-controller="Advertisements" asp-action="Index">Разделы</a>
                        <a asp-area="" asp-controller="Advertisements" asp-action="Index">Сотрудники</a>
                        <a asp-area="" asp-controller="Advertisements" asp-action="Index">Сотрудники</a>
                        <a asp-area="" asp-controller="Advertisements" asp-action="Index">Сотрудники</a>
                        <a asp-area="" asp-controller="Advertisements" asp-action="Index">Справочники</a>
                        <a asp-area="" asp-controller="Account" asp-action="Logout">Выход</a>
                    </nav>
                </header>

            </div>
        </div>
    </div>
</div>