@using AngleOk.Web.Services
<!-- Header -->
<div id="header-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <header id="header">
                    <h1><a href="/" id="logo">@Config.CompanyShortName</a></h1>
                    <nav id="nav">
                        <a asp-area="Admin" asp-controller="Home" asp-action="Index">Разделы</a>
                        <a asp-area="Admin" asp-controller="Employees" asp-action="Index">Сотрудники</a>
                        <a asp-area="Admin" asp-controller="RealtyObjects" asp-action="Index">Объекты</a>
	                    <a asp-area="Admin" asp-controller="Advertisements" asp-action="Index">Объявления</a>
	                    <a asp-area="Admin" asp-controller="Clients" asp-action="Index">Клиенты</a>
                        @* <a asp-area="Admin" asp-controller="Catalogs" asp-action="Index">Справочники</a> *@
                        <a asp-area="Admin" asp-controller="Account" asp-action="Logout">Выход</a>
                    </nav>
                </header>
            </div>
        </div>
    </div>
</div>