<section>
    <ul class="small-image-list">
	    <li>
		    <h5>
			    <a asp-area="Admin" asp-controller="Clients" asp-action="Create" asp-route-id="" asp-route-returnUrl="/Index">Новый клиент</a>
		    </h5>
	    </li>
	    <li>
		    <h5>
                <a asp-area="Admin" asp-controller="RealtyObject" asp-action="Create2" asp-route-id="" asp-route-returnUrl="/Index">Новый объект</a>
		    </h5>
	    </li>
        <li>
            <h5>
                <a asp-area="Admin" asp-controller="Advertisements" asp-action="Create" asp-route-id="" asp-route-returnUrl="/Index">Новое объявление</a>
            </h5>
        </li>
        <li>
            <h5>
                <a asp-area="Admin" asp-controller="Account" asp-action="Register" asp-route-id="" asp-route-returnUrl="/Admin">Новый сотрудник</a>
            </h5>
        </li>
    </ul>
</section>