<section>
    <ul class="small-image-list">
        <li>
            <h4>
                Новый объект
            </h4>
        </li>
        <li>
            <h4>
                Новое объявление
            </h4>
        </li>
        <li>
            <h4>
                <a asp-area="Admin" asp-controller="Account" asp-action="Register" asp-route-id="" asp-route-returnUrl="wtfaaaa">Добавить сотрудника </a>
            </h4>
        </li>
    </ul>
</section>