<section>
    <ul class="small-image-list">
        <li>
            <h4>
                Новый объект
            </h4>
        </li>
        <li>
            <h4>
                Новое объявление
            </h4>
        </li>
        <li>
            <h4>
                Добавить пользователя
            </h4>
        </li>
    </ul>
</section>