@model IQueryable<Advertisement>
<section>
    <ul class="small-image-list">
        @if (Model?.Any() == true)
        {
	        var list = Model.Count() > 5 ? Model.Take(5) : Model;
            @foreach (Advertisement entity in list)
            {
                <h2>Спецпредложения</h2>
                <li>
	                <a asp-area="Admin" asp-controller="Advertisements" asp-action="Details" asp-route-id="@entity.Id">
                        <img src="@Url.Action("GetImage", "Media",  new { id = entity.RealtyObject.TitleImageId.ToString() })" alt="Нет фото" class="left" />
	                </a>
                    <p>
                        @entity.ShortDescription
                    </p>
                </li>
            }
        }
        @* <li>
            <p>Объявления на карте</p>
        </li>
        <li>
            <p>Недавно дабавленные</p>
        </li>
        <li>
            <p>Подать объявление</p>
        </li> *@
    </ul>
</section>