@model Data.AngleOk.Model.Models.Country

@{
    ViewData["Title"] = "Удаление страны";
}

<div>
    <h4>Вы действительно хотите удалить данные о стране @Model.Name?</h4>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <input type="submit" value="Удалить" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-secondary">Отмена</a>
        </div>
    </form>
</div>